*.cbp
*.cmake
*.layout
*.pdf
*.project
*.sh
*.swp
*.swo
*.workspace
*~
.exrc
CMakeCache.txt
CMakeFiles/
Makefile
bin/
doc/scalpel/doxygen.sh
doc/scalpel/html/
doc/scalpel/latex/
lib/
tags
test/result
uml/
